*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body {
    font-family: 'Fredoka', sans-serif;
}

.contenitoreGrande {
    width: 80%;
    margin: 0 auto;
}

h1  {
    text-align: center;
    color : rgb(211, 48, 162);
    font-weight: bold;
    font-size: 50px;
    padding: 15px;
    font-family: 'Fredoka One', cursive;
}

.paragrafoIniziale {
    text-align: center;
    margin: 25px;
}

.clearfix::after{
    content: "";
    display: table;
    clear: both;
}

.card img{
    float: left;
    width: 80px;
    margin-right: 10px;
}
 
a {
    color: rgb(24, 138, 214)
}

.card {
    float: left;
    width: calc(100%/3);
    background-color: rgb(3, 3, 49);
    color: white;  
}

.informazioniUtente {
    padding-top: 10px;
}

.row {
    margin-bottom: 40px;
}